@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FlickClick</title>
    <link rel="stylesheet" href="@ViewData["Stylesheet"]" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div id="container">
        <header>
            <div class="layout-header">
                <img onclick="HomePage();" style="cursor: pointer;" src="~/assets/images/logo.png" />
                <div class="layout-header-section-half right">
                    <a class="layout-header-section-half-item" asp-controller="Home" asp-action="Index">HOME</a>
                    <a class="layout-header-section-half-item">NEWS</a>
                    <a class="layout-header-section-half-item" asp-controller="Contact" asp-action="Index">CONTACT</a>
                </div>
                <div class="layout-header-section">
                    <div class="layout-header-section-half">
                        <a class="layout-header-section-half-item">SHOW ALL</a>
                        <a class="layout-header-section-half-item">LATEST TRAILERS</a>
                        <a class="layout-header-section-half-item">MOST COMMENTED</a>
                    </div>
                    <div class="layout-header-section-half right">
                        <form>
                            <a>SEARCH</a>
                            <input type="text" class="headerInput" placeholder="Enter search here" />
                            <input type="submit" value="GO!" />
                        </form>

                    </div>
                </div>
                <div class="layout-header-section-whole right">
                    @if (@HttpContextAccessor.HttpContext.Session.GetInt32("userID") > 0)
                    {
                        <a class="mg" href="User/UserPage">Velkommen @HttpContextAccessor.HttpContext.Session.GetString("firstName")</a>
                        <a class="mg" href="User/Logout">Log ud</a>
                    }
                    else
                    {
                        <form method="post" action="/User/ValidateLogin">
                            <input name="email" class="headerInput" type="email" placeholder="Email" />
                            <input name="password" class="headerInput" type="password" placeholder="password" />
                            <input hidden name="controller" value="@ViewContext.RouteData.Values["controller"]" />
                            <input type="submit" value="Sign in" />
                        </form>
                        <a class="mg" href="User/Register">Not a member?</a>

                    }
                </div>
            </div>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        <footer class="layout-footer">
            <a class="layout-footer-item" asp-controller="Home" asp-action="Index">HOME</a> | <a class="layout-footer-item">NEWS</a> | <a class="layout-footer-item" asp-controller="Contact" asp-action="Index">CONTACT</a>
            <br />
            Social media logos here
            <br />
            © Flick Click ApS
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="@ViewData["js"]" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
