@model IEnumerable<FlickClick.Models.DirectorModel>  
@{
    ViewData["Title"] = "Admin Panel: Instruktører";
    ViewData["Stylesheet"] = "/css/cms.css";
}

<div>
    <div class="contentContainter">
        <h1>
            Instruktører
        </h1>
        <div class="sideLinks">
            <a asp-controller="Cms" asp-action="Index">Tilbage til admin forside</a>
            <a asp-action="Create">Tilføj instruktør</a>
        </div>
        @foreach (var item in Model)
        {
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => item.directorID)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => item.directorID)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => item.firstName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => item.firstName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => item.lastName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => item.lastName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => item.dateOfBirth)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => item.dateOfBirth)
                </dd>
            </dl>
            <div class="listForm">
                <form asp-action="Edit" asp-route-id="@item.directorID" method="get">
                    <input type="submit" name="submit" value="Rediger">
                </form>
                <form asp-action="Delete" asp-route-id="@item.directorID" method="get">
                    <input type="submit" name="submit" value="Slet">
                </form>

            </div>
        }
    </div>
</div> 