@model FlickClick.Models.MovieDirectorModel

@{
    ViewData["Title"] = "Admin Panel: Movie Add";
    ViewData["Stylesheet"] = "/css/cms.css";
    Layout = "~/Views/Shared/_CmsLayout.cshtml";
}
@{
    List<string> ageLimit = new List<string>();
    ageLimit.Add("Alle aldre");
    ageLimit.Add("7");
    ageLimit.Add("11");
    ageLimit.Add("15");
    int[] ageLimitNumbers = { 0, 7, 11, 15 };

}

<h1>Add</h1>

<h4>Movie</h4>
<hr />
<div class="contentContainter">
    <div class="row">
        <div class="col-md-4">
            @Html.AntiForgeryToken()
            <form asp-action="Create" enctype="multipart/form-data" >
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="MovieModel.title" class="control-label"></label>
                    <input asp-for="MovieModel.title" type="text" class="form-control" maxlength="64" required />
                    <span asp-validation-for="MovieModel.title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MovieModel.releaseDate" class="control-label"></label>
                    <input asp-for="MovieModel.releaseDate" type="date" class="form-control" required />
                    <span asp-validation-for="MovieModel.releaseDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MovieModel.description" class="control-label"></label>
                    <textarea placeholder="Beskrivelse" asp-for="MovieModel.description" type="text" class="form-control" maxlength="512" required>
                    </textarea>
                    <span asp-validation-for="MovieModel.description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MovieModel.directorID" class="control-label"></label>
                    <select list="directors" name="MovieModel.directorID" id="director" class="form-control" required>
                        @foreach (var item in Model.DirectorsModel)
                        {
                            <option value="@item.directorID">@item.directorID - @item.firstName @item.lastName</option>
                        }
                    </select>
                    <span asp-validation-for="MovieModel.directorID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MovieModel.duration" class="control-label"></label>
                    <input asp-for="MovieModel.duration" type="time" class="form-control" required />
                    <span asp-validation-for="MovieModel.duration" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MovieModel.ageRating" class="control-label"></label>
                    <select list="ageRatings" name="MovieModel.ageRating" class="form-control" required>
                        @foreach (string age in ageLimit)
                        {
                            <option value="@ageLimitNumbers[ageLimit.IndexOf(age)]">@age</option>
                        }
                    </select>
                    <span asp-validation-for="MovieModel.ageRating" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MovieModel.comingSoon" class="control-label"></label>
                    <select list="truefalse" name="MovieModel.comingSoon" class="form-control" required>
                        <option value="True">Ikke udgivet</option>
                        <option value="False">Udgivet</option>
                    </select>
                    <span asp-validation-for="MovieModel.comingSoon" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MovieModel.pictureImage" class="control-label"></label>
                    <input asp-for="MovieModel.pictureImage" type="file" class="form-control" accept="image/*" required />
                    <span asp-validation-for="MovieModel.pictureImage" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" name="submit" value="Add" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-action="Index">Back to list</a>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
