@model FlickClick.Models.MovieModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Slet</h1>

<h3>Er du sikker på at du vil slette den?</h3>
<div>
    <h4>Film</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.movieID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.movieID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.releaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.releaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.directorID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.directorID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.postDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.postDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ageRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ageRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.comingSoon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.comingSoon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.picturePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.picturePath)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Slet" class="btn btn-danger" /> |
        <a asp-action="Index">Tilbage til listen</a>
    </form>
</div>
