@model FlickClick.Models.MovieDirectorModel

@{
    ViewData["Title"] = "Admin Panel: Movie Edit";
    ViewData["Stylesheet"] = "/css/cms.css";
    Layout = "~/Views/Shared/_CmsLayout.cshtml";
}
@{
    List<string> ageLimit = new List<string>();
    ageLimit.Add("Alle aldre");
    ageLimit.Add("7");
    ageLimit.Add("11");
    ageLimit.Add("15");
    int [] ageLimitNumbers = { 0, 7, 11, 15 };

}

<h1>Edit</h1>

<h4>Movie</h4>
<hr />
<div class="contentContainter">
    <div class="row">
        <div class="col-md-4">
            @Html.AntiForgeryToken()
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="MovieModel.movieID" class="control-label"></label>
                    <input disabled asp-for="MovieModel.movieID" class="form-control" />
                    <span asp-validation-for="MovieModel.movieID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MovieModel.title" class="control-label"></label>
                    <input asp-for="MovieModel.title" class="form-control" />
                    <span asp-validation-for="MovieModel.title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MovieModel.releaseDate" class="control-label"></label>
                    <input asp-for="MovieModel.releaseDate" type="date" class="form-control" />
                    <span asp-validation-for="MovieModel.releaseDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MovieModel.description" class="control-label"></label>
                    <input asp-for="MovieModel.description" class="form-control" />
                    <span asp-validation-for="MovieModel.description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MovieModel.directorID" class="control-label"></label>
                    <select name="MovieModel.directorID" id="director" class="form-control">
                        @foreach (var item in Model.DirectorsModel)
                        {

                            if (item.directorID == Model.MovieModel.directorID)
                            {
                                <option value="@item.directorID" selected>@item.directorID - @item.firstName @item.lastName</option>
                            }
                            else
                            {
                                <option value="@item.directorID">@item.directorID - @item.firstName @item.lastName</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="MovieModel.directorID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MovieModel.duration" class="control-label"></label>
                    <input asp-for="MovieModel.duration" type="time" class="form-control" />
                    <span asp-validation-for="MovieModel.duration" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MovieModel.postDate" class="control-label"></label>
                    <input disabled asp-for="MovieModel.postDate" class="form-control" />
                    <span asp-validation-for="MovieModel.postDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MovieModel.ageRating" class="control-label"></label>
                    <select list="ageRatings" name="MovieModel.ageRating" class="form-control">
                        @foreach (string age in ageLimit)
                        {
                            if (ageLimitNumbers[ageLimit.IndexOf(age)] == Model.MovieModel.ageRating)
                            {
                                <option value="@ageLimitNumbers[ageLimit.IndexOf(age)]" selected>@age</option>
                            }
                            else
                            {
                                <option value="@ageLimitNumbers[ageLimit.IndexOf(age)]">@age</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="MovieModel.ageRating" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MovieModel.comingSoon" class="control-label"></label>
                    <select list="truefalse" name="MovieModel.comingSoon" class="form-control">
                        @if (Model.MovieModel.comingSoon == "True")
                        {
                            <option value="True" selected>Ikke udgivet</option>
                            <option value="False">Udgivet</option>
                        }
                        else
                        {
                            <option value="True">Ikke udgivet</option>
                            <option value="False" selected>Udgivet</option>
                        }
                    </select>
                    <span asp-validation-for="MovieModel.comingSoon" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MovieModel.pictureImage" class="control-label"></label>
                    <input asp-for="MovieModel.pictureImage" type="file" class="form-control" accept="image/*" required />
                    <span asp-validation-for="MovieModel.pictureImage" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" name="submit" value="Gem" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-action="Index">Back to list</a>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
