@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model MovieDetailsModel

@{
    ViewData["Stylesheet"] = "/css/movie.css";
    ViewData["js"] = "/js/movie.js";
}

<div class="movie-bar">
    <div class="movie-bar-row">
        <h1 class="w-auto">@Model.title</h1><p class="w-auto">Comments:&nbsp;@Model.commentCount</p>
    </div>
    <div class="movie-bar-row">
        <div class="movie-bar-row-item">
            <p class="w-auto">Age Rating:&nbsp;<p class="c-red m-left-1">@Model.ageRating+</p>
        </div>
        <div class="movie-bar-row-item">
            <p class="w-auto">Duration:&nbsp;<p class="c-red m-left-1">@Model.duration </p>
        </div>
        <div class="movie-bar-row-item">
            <p class="w-auto">Genres:&nbsp;<p class="c-red m-left-1">@String.Join(", ", Model.genres.ToArray())</p>
        </div>
        <div class="movie-bar-row-item">
            <p class="w-auto">Release Date:&nbsp;<p class="c-red m-left-1">@Model.releaseDate</p>
        </div>
    </div>
</div>

<div class="movie-media-bar">
    <img class="movie-media-bar-banner" src="@Model.picturePath" />
    <iframe class="movie-media-bar-trailer" src="@Model.trailerPath" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="movie-bar">
    <div class="movie-bar-row">
        <div class="movie-bar-row-item">
            <p class="w-auto">Director:&nbsp;<p class="c-red m-left-1">@Model.director</p>
        </div>
        <div class="movie-bar-row-item">
            <p class="w-auto">Writers:&nbsp;<p class="c-red m-left-1">@String.Join(", ", Model.writers.ToArray())</p>
        </div>
        <div class="movie-bar-row-item">
            <p class="w-auto">Stars:&nbsp;<p class="c-red m-left-1">@String.Join(", ", Model.stars.ToArray())</p>
        </div>
    </div>
</div>

<div class="movie-description">
    <h2>Description</h2>
    <p>@Model.description</p>
</div>


<div class="movie-comments">
    <p>Comments: @Model.commentCount</p>
    @if (@HttpContextAccessor.HttpContext.Session.GetInt32("userID") > 0)
    {
        <div class="movie-comments-input">
            Post a comment
            <textarea id="comment" class="movie-comments-text" placeholder="Write a comment here.."></textarea>
            <input id="commentInput" class="movie-comments-submit" type="submit" />
        </div>
    }
    else
    {
        <div class="movie-comments-input">
            Post a comment
            <form>
                <textarea class="movie-comments-text" disabled>Log in or sign up to write a comment</textarea>
                <input class="movie-comments-submit" type="submit" disabled />
            </form>
        </div>
    }

    <div id="comment-section" class="movie-comments-section">
        @foreach (var item in Model.comments)
        {
            <div class="movie-comments-section-comment">
                <div class="movie-comments-section-comment-user-date">
                    <p>@item.username&nbsp;<p class="c-red">@item.date</p>
                </div>
                <p>@item.comment</p>
            </div>
        }
    </div>
</div>