@model List<NewsModel>

@{
    ViewData["Stylesheet"] = "/css/news.css";
}

<h3>News</h3>
<div class="news-articles">
    @foreach (var item in Model)
    {
        <div class="news-article">
            <h6>@item.title</h6>
            <small class="news-article-date">@item.postDate.ToString("dd-MM-yyyy")</small>
            <p>
                @if (@item.text.Length > 200)
                {
                    @item.text.Substring(0, 200)
                }
                else
                {
                    @item.text
                }
                <br />
                <a asp-controller="View" asp-action="Article" asp-route-id="@item.ID" class="news-article-link">Read more</a>
            </p>

        </div>
    }
</div>
